.vscode/*
!.vscode/.clang-format
.github/*

build/
sdkconfig
sdkconfig.old

example/build/
example/.cache/
example/.vscode/
example/sdkconfig
example/sdkconfig.old
example/dependencies.lock

*/.cache
