menu "ECU Firmware NAND MX35 Manager Configuration"

    config MAX_ECU_SLOTS
        int "Max ECU slots"
        range 1 32
        default 10
        help
            Maximum number of ECU slots to manage. Each slot can hold one firmware image.

    config NAND_MX35_PROTECTED_MODE
        bool "Enable protected mode for NAND MX35"
        default n
        help
            Enable protected mode for NAND MX35 device.

    menu "Run example"
        choice
            prompt"Run example for ecu NAND MX35 manager"
            default RUN_ECU_FW_MANAGER_EXAMPLE
            help
                Select to run example for NAND MX35 device.

            config RUN_ECU_FW_MANAGER_EXAMPLE
                bool "Run ECU Firmware Manager example"
            config RUN_NAND_MX35_EXAMPLE
                bool "Run NAND MX35 example"
        endchoice
    endmenu

    menu "Debug Options"
        config EALIVE_NAND_MX35_DEBUG
            bool "Enable debug for nand mx35"
            default n
            help
                Enable debug messages for nand mx35 api.

        config EALIVE_ECU_FW_MANAGER_DEBUG
            bool "Enable debug for ecu firmware manager"
            default n
            help
                Enable debug messages for ecu firmware manager.
    endmenu

endmenu